@{
    ViewBag.Title = "Home Page";
}

<body>
    <!--MODALS-->
    <!-- Small modal -->
    <div class="modal fade bs-soc-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="soc-modal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">SOC Codes (US Bureau of Labor Statistics)</h4>
                </div>
                <div class="row modal-row">
                    <div class="col-sm-12">
                        Standard Occupational Classification, US federal government job classification system.  A total of 840 occupations are recognized in the classification system.  For the WA STEM labor market analysis, a total of 811 occupations were included in the analysis (787 for King, 741 for Spokane; 741 for Vancouver, 741 for Yakima).  SOC codes were last updated in 2010.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Small modal -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="ams-modal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Annual Median Salary (WA State ESD MSA/MD)</h4>
                </div>
                <div class="row modal-row">
                    <div class="col-sm-12">
                        Reported median salaries of workers in the job.  The data comes from WA State Employment Security, Occupational Employment and Wage Estimates.The data encompasses the local Metropolitan Statistical Area (MSA)/MD.  See below for the geographic boundaries for the 4 regions highlighted in this report.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Small modal -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="mhw-modal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Median Hourly Wage (WA State ESD, MSA/MD)</h4>
                </div>
                <div class="row modal-row">
                    <div class="col-sm-12">
                        Reported/calculated median hourly wages of workers in the job. The data comes from WA State Employment Security, Occupational Employment and Wage Estimates. The data encompasses the local Metropolitan Statistical Area (MSA)/MD.  See below for the geographic boundaries for the 4 regions highlighted in this report.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Small modal -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="eel-modal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Entry Educational Level (US Bureau of Labor Statistics)</h4>
                </div>
                <div class="row modal-row">
                    <div class="col-sm-12">
                        Defined by the 2014 Educational and Training Assignments by US Bureau of Labor Statistics. Economists have ͞assigned occupations to categories͟ using the American Community Survey, Occupational Information Network (ONET), National Center for Education Statistics to arrive at the Entry Educational Level.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Small modal -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="dd-modal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Demand and Decline (WA State ESD, WDA) </h4>
                </div>
                <div class="row modal-row">
                    <div class="col-sm-12">
                        Washington State Employment Security Department produces a list of jobs (WA State and Workforce Development Area (WDA) Demand/Decline List) on a regular basis that describes which jobs are in demand (grown), not in demand (no change) and in decline.  The data is not provided in real time and lags behind by a couple of quarters.  Data for this report is from 2015. See below for the geographic boundaries for the 4 regions highlighted in this report.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Small modal -->
    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="estimated-employment-modal">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Estimated Employment Total Jobs Added Average Annual Growth Average Annual Job Openings (WA State ESD, WDA)  </h4>
                </div>
                <div class="row modal-row">
                    <div class="col-sm-12">
                        Washington State Employment Security Department produces data for each Workforce Development Area (WDA).  There are 12 WDAs in Washington.See below for the geographic boundaries for the 4 regions highlighted in this report.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search and result area -->
    <div id="searchArea">
        
        <div id="searchInputs">
            <div id="jobCategoryDropdown" class="dropdown">
                <text class="searchLabel">Job Category<br></text>
                <div>
                    <select id="categoriesUl" class="form-control">
                        <option value="ALL">ALL</option>
                        <option value="ARCH">
                            Architecture and Engineering Occupations
                        </option>
                        <option value="ARTS">
                            Arts, Design, Entertainment, Sports, and Media Occupations
                        </option>
                        <option value="BUILD">
                            Building and Grounds Cleaning and Maintenance Occupations
                        </option>
                        <option value="BUSI">
                            Business and Financial Operations Occupations
                        </option>
                        <option value="COMM">
                            Community and Social Service Occupations
                        </option>
                        <option value="COMP">
                            Computer and Mathematical Occupations
                        </option>
                        <option value="CONST">
                            Construction and Extraction Occupations
                        </option>
                        <option value="EDUC">
                            Educational Instruction and Library Occupations
                        </option>
                        <option value="FARM">
                            Farming, Fishing, and Forestry Occupations
                        </option>
                        <option value="FOOD">
                            Food Preparation and Serving Related Occupations
                        </option>
                        <option value="HEAL">
                            Healthcare Practitioners and Technical Occupations
                        </option>
                        <option value="HSUP">
                            Healthcare Support Occupations
                        </option>
                        <option value="INST">
                            Installation, Maintenance, and Repair Occupations
                        </option>
                        <option value="LEGA">
                            Legal Occupations
                        </option>
                        <option value="LIFE">
                            Life, Physical, and Social Science Occupations
                        </option>
                        <option value="MANG">
                            Management Occupations
                        </option>
                        <option value="MILI">
                            Military Specific Occupations
                        </option>
                        <option value="OFFC">
                            Office and Administrative Support Occupations
                        </option>
                        <option value="PERS">
                            Personal Care and Service Occupations
                        </option>
                        <option value="PROD">
                            Production Occupations
                        </option>
                        <option value="PRTC">
                            Protective Service Occupations
                        </option>
                        <option value="SALE">
                            Sales and Related Occupations
                        </option>
                        <option value="TRANS">Transportation and Material Moving Occupations</option>
</select>
                </div>
            </div>

            <div id="titleDropdown" class="dropdown">
                <text class="searchLabel">Job Title<br></text>
                <div>
                    <select id="titlesUl" class="form-control">
                        <option value="ALL">ALL</option>
                    </select>
                </div>
            </div>

            <div id="levelDropdown" class="dropdown">
                <text class="searchLabel">Educational Level<br></text>
                <div>
                    <select id="levelsUl" class="form-control">
                        <option value="ALLEDU">ALL</option>
                        <option value="Bachelor's degree">Bachelor's degree</option>
                        <option value="Doctoral or Professional degree">Doctoral or Professional degree</option>
                        <option value="High school diploma or equivalent">High school diploma or equivalent</option>
                        <option value="Some college, no degree">Some college, no degree</option>
                        <option value="Postsecondary nondegree award">Postsecondary nondegree award</option>
                        <option value="No formal educational credential">No formal educational credential</option>
                        <option value="Apprenticeship">Apprenticeship</option>
                        <option value="Master's degree">Master's degree</option>
                        <option value="Associate's degree">Associate's degree</option>
                    </select>
                </div>
            </div>

            <div id="regionDropdown" class="dropdown">
                <text class="searchLabel">Region<br></text>
                <div>
                    <select id="regionUl" class="form-control">
                        <option value="WA">ALL</option>
                        <option value="SPOK">SPOKANE</option>
                        <option value="YAK">YAKIMA</option>
                        <option value="VANC">VANCOUVER</option>
                        <option value="KING">KING</option>
                        <option value="SNO">SNOHOMISH</option>
                    </select>
                </div>
            </div>

            <div id="search" class="dropdown">
                <button id="searchBtn" class="btn btn-success">Search</button>
                <img id="spinner" src="~/Content/images/spinner.gif"/>
            </div>

        </div>

        <div id="searchResults" class="results">        
        </div>
    </div>
        <script src="~/Scripts/allCounties.json"></script>
        <script src="~/Scripts/wa.json"></script>
        <script src="~/Scripts/jquery-3.1.1.min.js"></script>
        <script src="~/Scripts/utilities.js"></script>
        <script src="~/Scripts/home.js"></script>
        <script src="~/Scripts/data_definition_modals.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                init();
            });
        </script>
</body>



