@{
    ViewBag.Title = "Career Trend";
}
<div id="chart">

</div>
<div id="searchResults" class="results">
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/d3.min.js"></script>
<script src="~/Scripts/utilities.js"></script>
<script src="~/Scripts/bubbleChart.js">
    </script>