html,
body {
    padding-bottom: 20px;
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
    font-family: Helvetica,Arial,sans-serif;
    font-size: 9pt;
    width: 1093px;
    background-color: #ececec;
    margin: 0 auto;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 0 15px;
    background-color: #fff;
    width:100%;
    height: auto;
}

#searchArea {
    margin: 30px 0 50px 30px;
    min-height: 200px;
}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.top-link {
    color: #000;
}

.bottom-link {
    color: #fff;
}

#copyright {
    float: left;
}

#footer-links {
    float: right;
    padding-right: 50px;
}

/* Dropdown styles  */
/********************/
/* Dropdown Button */
.dropbtn {
    background-color: #fff;
    padding: 16px;
    font-size: 16px;
    box-shadow: 2px 2px 2px 2px #4CAF50;
    border-color: #4caf50;
    cursor: pointer;
    width: 160px;
    height: 20px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 2px 2px 2px 2px #4caf50;
    color: black;
    border-color: green;
    height: 300px;
    overflow: auto;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display: inline-block;
}

/* Links inside the dropdown */
.dropdown-content li {
    color: black;
    padding-bottom: 9px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.seattle {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #5bc0de;
    color: white;
    height: 60px;
}

.searchLabel {
    font-weight: bold;
    font-size: 10pt;
}

.search-links {
    position: relative;
    display: block;
    clear: both;
    height: 50px;
    background-color: #fff;
    padding-left: 30px;
}

.main-header {
    background-color: #fff;
    height: 130px;
}

.searchLabel {
    font-weight: bold;
    font-size: 10pt;
}
#search {
    margin-top: 5px;
}

#spinner {
    display: none;
    width: 30px;
    height: 30px;
}

.tbl-results {
    font-size: 9pt;
}
/* MODALS */
.modal-row {
    margin: 1em auto;
}

.glyphicon {
    cursor: pointer;
}

.results-table {
    font-size: 8pt;
    color: #000;
}

#navbar-container {
    display: inline-block;
    float: left;
    margin-left: 75px;
}

#navbar-items {
    padding-top: 25px;
    padding-left: 245px;
}

#navbar-badge {
    position: relative;
    top: 0;
    padding-right: 80px;
    float: right;
}

#badge-image {
    width: 130px;
    height: 130px;
    margin-top: -30px;
}

#footer-wastem {
    float: left;
    padding-left: 20px;
}

.results-title {
    display: block;
    font-weight: bold;
    margin-top: 20px;
}

.results-table-row {
    font-weight: bold;
}

.navbar-default {
    background-color: #fff;
    border: none;
}

/*D3 rendering*/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #9E9E9E;
}

.tooltip {
  position: absolute;
  width: 200px;
  height: 28px;
  pointer-events: none;
}
table, tr, th, td {
  border: 1px solid; 
  border-collapse: collapse;
  text-align: center;
  padding: 5px 5px;
}
table {
  background-color: lightgrey;  
}
th {
  text-transform: uppercase;
  /*color: #1b9891;*/
}